html
{
    width: 100%;
}

@media all and (max-width: 1023px) 
{
    .med-and-up-only {
        display: none !important;
    }
}

@media all and (min-width: 1024px) 
{
    .mobile-only {
        display: none !important;
    }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


body
{
    background-image:url('../img/backgrounds/bg_cartographer.png');
    background-attachment:fixed;
    position: relative;
    height: 100%;
}

p
{ 
    font-family: 'Brion Regular', Verdana, Tahoma;
    color: #FFFFFF;
}

text
{
    font-family: 'Brion Light', Verdana, Tahoma;
    color: #FFFFFF;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: #313335;
}

div#left {
    width: 50%;
    float: left;
}

div#right {
    margin-left: 50%;
}

a
{
    font-family: "Brion Regular", Verdana, Tahoma;
	color: #60bfb1;
	text-decoration: underline;
}

a:hover,
a:visited:hover 
{
	color: #EE7600;
}

a:active 
{
	color: #FF7F50;
}

h1
{
	font-family: "Brion Bold", Verdana, Tahoma;
    color: #FFFFFF;
}

h2, h3, h4, h5, h6 
{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
	font-family: "Brion Regular", Verdana, Tahoma;
    font-weight: 400;
    color: #FFFFFF;
}