@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?elzmnb');
  src:  url('../fonts/icons.eot?elzmnb#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?elzmnb') format('truetype'),
    url('../fonts/icons.woff?elzmnb') format('woff'),
    url('../fonts/icons.svg?elzmnb#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display:inline-block;
  line-height: 2;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.right{
  margin-left: 0.5rem;
}

i.left{
  margin-right: 0.5rem;
}

.icon-resume:before {
  content: "\e900";
}
.icon-blog:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-android:before {
  content: "\e903";
}
.icon-github:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e9ca";
}
